<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Temática</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">

        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="../index.html"> Inicio</a> </li>
                    <li> <a href="acercade.html"> Acerca de </a> </li>
                    <li> <a href="contacto.html"> Contacto </a> </li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>Coffe House</h1>
                <span>SV</span>
            </div>
        </div>
    </header>
    <section class="personal container">
        <div class="personal-txt">
            <h2>Nuestros Empleados</h2>
            <hr>
            <p>
                Nuestros empleados están a su disposicion y brindan un servicio de excelente calidad para los clientes.        
            </p>
        </div>
        <div class="personal-group">
            <div class="personal-1">
                <img src="../images/persona1.jpg" alt="">
                <h3>Alexis Castro</h3>
                <p>
                    Tel. 7543-6989
                </p>
            </div>

            <div class="personal-1">
                <img src="../images/persona2.jpg" alt="">
                <h3>Katherine Aguilar</h3>
                <p>
                    Tel. 7602-7446
                </p>
            </div>
            <div class="personal-1">
                <img src="../images/persona3.jpg" alt="">
                <h3>Ezequiel Ramirez</h3>
                <p>
                    Tel. 7962-1968
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-txt">
            <p>
                Contactanos
            </p>
        </div>
    </footer>
    <div class="header-dir">
        <div class="dir">
            <h3>Dirección</h3>
            <p>Sonsonate, El Salvador</p>
        </div>
        <div class="dir">
            <h3>Telefono</h3>
            <p>2421-3419</p>
        </div>
        <div class="dir">
            <h3>Correo Electronico</h3>
            <p>CoffeHouse@gmail.com</p>
        </div>
        <div class="dir">
            <h3>Horario</h3>
            <p>8:00am a 7:00pm</p>
        </div>
    </div>
</body>
</html>